<footer class="bg-dark footer mt-auto">
    <div class="container py-1 text-muted">
        <h4 class="d-inline" style="color: white;">Connect</h4> 
        <div class="d-inline p-4" style="font-size: 1.5rem;">
            <a href="https://www.youtube.com/@keertigupta1764/" class="p-1" style="text-decoration: none; color: white;"><i class="fab fa-youtube"></i></a>
            
            <a href="https://www.linkedin.com/in/keerti-gupta-907793202/" class="p-1" style="text-decoration: none; color: white;"><i class="fab fa-linkedin"></i></a>
        </div>
        <hr style="height:2px;">
    </div>
   
    <div class="container py-1">
        <div class="text-center" style="color: white;"><span class="text-muted">&copy;2023 SparkBank, All Rights Reserved</span></div>
    </div>
    <div class="row m-0" style="color: white;">
        <div class="col-sm-6 offset-sm-6">
            <span class="d-block" style="text-align-last: right;">Managed & Designed By &#64;Keerti Gupta</span>
        </div>
    </div>
</footer>